* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: #121212;
}

.header{
    color: white;
    display: flex;
    align-items: center;
    height: 11vh;
    
    
}
.header button{
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: rgb(255, 136, 1);
    height: 60px;
}

.header .heading{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

/* Popup styles */
.popup {
  display: none; /* Hidden by default */
  position: absolute;
  width: 20vw;
  height: 60vh;
  padding: 20px;
  top: 150px;
  left: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(130, 129, 129, 0.5);
  z-index: 1000;
}

/* Close button style */
.close {
  position: absolute;
  top: -15px;
  right: 1px;
  font-size: 50px;
  cursor: pointer;
}

.popup-content {
  position: relative;
}
.popup-content p{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InputSection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between form elements */
    max-width: 300px; /* Maximum width of the form */
    margin: 30px auto; /* Center the form horizontally */
  }

  .input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%; /* Make sure the inputs take full width */
  }
  
  .input label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
  }

  .input input {
    padding: 8px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .input button {
    padding: 10px 20px;
    background-color: #f49135;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* Adjust the width based on the button's content */
    align-self: center;
    margin-top: 30px; /* Align button to the left */
  }

  .input button:hover {
    background-color: #9d5606;
  }

  .underline{
    height: 1px;
    background: white;
    border: none; 
  }

  .canvas{
    height: 85vh;
    background: pink;
  }

  
  .config {
    margin: 32px auto;
    padding: 0;
    border: 0;
  }
  
  .config tr, .config th, .config td {
    margin: 0;
    padding: 0;
  }
  
  .config th, .config td {
    border: 1px solid #3e3e3e;
    text-align: center;
  }
  
  .config th {
    font-size: 14pt;
    font-weight: 900;
    padding: 8px 16px;
  }
  
  .config td input {
    margin: 4px 8px;
    padding: 2px;
    font-size: 14pt;
    font-weight: 900;
    border: 0;
    border-bottom: 2px solid #222;
    width: 50px;
  }
  
  .config td input[type=text] {
    min-width: 150px;
  }
  
  .config td input {
    text-align: center;
    padding: 0px;
    border: none; 
  }
  
  .config td button {
    cursor: pointer;
    margin: 4px;
    background-color: #DEDEDE;
    color: #222;
    border: 1px solid #222;
    font-size: 16pt;
    height: 85px;
  }
  
  .config td button:hover {
    background-color: #EFEFEF;
  }
  
  .config td button:active {
    background-color: #454545;
    color: #FFF;
  }
  
  .config td input[type=color] {
    border: 0;
  }
  
  .config td input.interval-time {
    display: inline-block;
    width: 100px;
  }
  
  .config td .current-state {
    display: inline-block;
    width: 300px;
  }


  
  img.arrow {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 35px;
  }
  
  #canvas{
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }